
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


/*Globals*/

*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

html{
    touch-action: pan-x pan-y;
    height: 100%;
}

body{
    overflow-y: hidden;
    margin: 2rem;
    height: calc(100vh - (2rem) * 2);
}


.containerBody{
    display: flex;
    min-height: 100%;
}

.flex70-30{
    display: grid;
    grid-template-columns: 70% 30%;
}

.headerFont{
    font-size: 2.5rem;
    font-weight: 700;
}

.textfont{
    font-size: 0rem;
    font-weight: 200;
}



/*Aside*/

aside{
    display: grid;
    padding-block: 0.5rem;
    align-content: space-between;
}

.waysLogo{
    max-width: 150px;
    max-height: 300px;
}

.underLogo{
    text-align: center;
}

/*Main Section*/


.flexedRight{
    display: grid;
    grid-template-areas: "stack";
}

.flexedRight >*{
    grid-area: stack;
}

.blueBkgClr{
    background-color: blue;
    width: 100%;
    opacity: 1;
    mix-blend-mode: darken;
    clip-path: inset(0 0 0 0);
    transition: clip-path 1.5s ease;
    -webkit-transition: clip-path 1.5s ease;
}

.bkgVideo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 2s;
}

.twoSections{
    z-index: 2000;
    display: grid;
    grid-template-rows: repeat(1fr 2fr 1fr);
    align-items: center;
    padding-inline: 6rem;
    gap: 18%;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 700;
    transition: 2s;
}

.burger{
    margin-right: 30%;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    background-color: white;
    height: 3px;
    width: 21px;
    transition: all 1s ease-in-out;
}

.bar2, .bar3{
    margin-top: 4px;
}

section{
    display: grid;
    z-index: 2;
    color: white;
}

.mainBody1{
    clip-path: inset(0 0 0 0);
    transition: 1.5s ease;
}

.mainLeft{
    align-self: center;
    width: 15ch;
}

.span1{
    margin-right: -8px;
}

.mainTxt{
    font-size: 0.8rem;
    font-weight: 500;
}

.mainBody2{
    opacity: 0;
    z-index: 2000;
    grid-template-rows: repeat(1fr 2fr 1fr);
    padding-inline: 6rem;
    transform: translateY(100rem);
    align-self: center;
    clip-path: inset(0 0 0 0);
    transition: 1.5s ease;
}

.mainBody2Txt{
    margin-top: 1rem;
    width: 70%;
    font-size: 0.8rem;
    font-weight: 500;
}

.mainTxt2{
    font-size: 0.8rem;
    font-weight: 500;
}

.mainBtn{
    display: block;
    background-color: white;
    color: blue;
    font-weight: 700;
    padding: 0.4rem;
    width: fit-content;
    border-radius: 0.2rem;
    margin-top: 1rem;
}



.footer{
    color: white;
    display: flex;
    transition: 2s;
}

.facebook{
    background-image: url(img/whitefb1.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin-right: 2rem;
    transition: 2s;
}

.twitter{
    background-image: url(img/whiteTwiter.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin-right: 2rem;
    transition: 2s;
}

.instagram{
    background-image: url(img/whiteIG.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    transition: 2s;
} 

.arrow{ 
    opacity: 1;
    cursor: pointer;
    display: flex;
    justify-content: right;
    margin-left: auto;
    transition: ease;
    transform: rotateX(70deg);
    animation-duration: 1.2s;
    animation-name: updown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes updown{
    from{
        
    }
    80%{
        transform:  translateY(10px) rotateX(50deg);
    }
    to{
        transform:  translateY(20px) rotateX(30deg);
    }
}

.leftPoint{
    background-color: white;
    height: 1.5px;
    width: 20px;
    transform: rotate(45deg) translateY(10px);
    margin-right: -20px;
}
.rightPoint{
    background-color: white;
    height: 1.5px;
    width: 20.2px;
    transform: rotate(-45deg) translateY(9px);

}

.search img{
    width: 11px;
    height: 15px;
    transform: translateY(5px);
    margin-right: 10px;
    transition: 2s;
}

.search{
    opacity: 1;
    margin-left: auto;
    display: flex;
    font-weight: 700;
    color: blue;
}


.showcase{
    color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    gap: min(2rem, 11rem);
    padding-inline: 6rem;
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    transition: 1.5s ease;
}

.showcase h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    word-break: normal;
    font-weight: 700;
}

.showcaseLinks{
    display: grid;
    gap: 1rem;
    font-size: 0.8rem;
}

.mobileMenu{
    display: none;
}






/*JS classes*/


/*Click Arrow*/

.mainBody1.hideMainBody1{
    /* display: none; */
    opacity: 0;
    transform: translateY(-400px);
}

.mainBody2.displayMain2{
    opacity: 1;
    display: grid;
    transform: translateY(1rem);
}



/*Click Burger*/

.bar1.bkgColor, .bar2.bkgColor, .bar3.bkgColor{
    background-color: blue;
}

.bar1.cross{
    transform: rotate(45deg) translateX(4px) translateY(7px);
    background-color: blue;
}
.bar2.cross{
    opacity: 0;
    transform: translateX(25rem);
    background-color: blue;
}
.bar3.cross{
    transform: rotate(-45deg) translateX(2.5px) translateY(-5.5px);
    background-color: blue;
}

.blueBkgClr.open{
    clip-path: inset(0 0 0 100%);
}

.showcase.showShowcase{
    z-index: 2000;
    opacity: 1;
    transition: 2s;
    clip-path: inset(0 0 0 0);
}


.arrow.hideArrow{
    opacity: 0;
}

.navbar.showNavbar{
    color: blue;
    transition: 2s;
}

.mainBody1.hideMain{
    opacity: 0;
    transition: 1.5s ease;
    clip-path: inset(0 0 0 100%);
}

.mainBody2.hideMain{
    opacity: 0;
    transition: 1.5s ease;
    clip-path: inset(0 0 0 100%);
}





.facebook.showFacebook{
    background-image: url(img/purpleFB.png);
    transition: 2s;
}

.twitter.showTwitter{
    background-image: url(img/purpleTwitter.png);
    transition: 2s;
}

.instagram.showIG{
    background-image: url(img/purpleIG.png);
    transition: 2s;
}

.search.showSearch{
    opacity: 1;
    transition: 2s;
}

.bkgVideo.bkgVideoBlur{
    opacity: 0.6;
    transition: 2s;
}

.mobileMenu.showMobileMenu{
    z-index: 2000;
    opacity: 1;
    transition: 2s;
    clip-path: inset(0 0 0 0);
}




/* Media Query*/


@media (max-width: 900px) {
    
    .bkgVideo{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }

    .blueBkgClr{
        position: fixed;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        
    }


    aside{
        z-index: 3000;
    }

    .underLogo{
        display: none;
    }

    .waysLogo{
        position: fixed;
        display: block;
        max-width: 100px;
        max-height: 200px; 
    }
    

    .twoSections{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 2000;
        padding-inline: 2rem;
        padding-block: 2rem;
    }

    .navbar{
        flex-direction: row-reverse;
    }

    .burger{
        margin-right: 0;
    }

    .navLink{
        display: none;
    }

    .flex70-30{
        grid-template-columns: none;
        align-self: center;
    }

    .mainBody1, .mainBody2{
        text-align: center;
    }


    .mainLeft, .mainTxt2{
        width: 60%;
        margin-inline: auto;

    }

    .mainBody2Txt{
        width: 80%;
        margin-inline: auto;
    }

    .mainTxt, .mainTxt2, .mainBody2Txt{
        font-size: 16px;
    }

    .mainBtn{
        margin-inline: auto;
    }

    .arrow{ 
        margin-left: auto;
    }

    .leftPoint{
        height: 2.5px;
        transform: rotate(45deg) translateY(9px);
    }

    .rightPoint{
        height: 2.5px;
        transform: rotate(-45deg) translateY(9px);
    }

    .showcase{
        display: none;
    }

    .mobileMenu{
        position: absolute;
        display: grid;
        align-self: center;
        clip-path: inset(0 100% 0 0);
        opacity: 0;
        transition: 1.5s ease;
        z-index: 3000;
        gap: 4rem;
        width: 90%;
        text-align: center;
        margin-inline: auto;
    }

    .mobileLinks{
        color: blue;
        font-weight: 700;
        border-bottom: 2px solid;
        padding: 2rem;
        font-size: larger;
    }
    
}





